services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: lastclick
      POSTGRES_PASSWORD: lastclick
      POSTGRES_DB: lastclick
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8.6-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
